.form-soldout,
.form {
  text-align: center;
  padding: 3rem 1rem;
  background: #ec9b33;
  margin: 2rem -2rem;
}

.form-soldout {
  background: #070000;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.form label,
.form button[type=submit] {
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.form label {
  line-height: 2;
}

.form input[type=number] {
  max-width: 3rem;
  font-size: 1.4rem;
  font-weight: bold;
  text-align: center;
  border: none;
  border-bottom: 3px solid #070000;
  outline: none;
  background: #ffffff;
}

.form .form-submit {
  vertical-align: middle;
  margin: 1rem 1rem 0; 
}

.form-submit small {
  display: block;
  color: #fff;
  margin-top: .5rem;
}

.form button[type=submit] {
  padding: 1rem 2rem;
  background: #070000;
  border: none;
  color: #fff;
  outline: none;
}

@media screen and (min-width: 60rem) {
  .form .form-submit {
    display: inline-block;
  }

  .form button[type=submit] {
    padding: .5rem 1rem;
  }
}
