.header {
  background-color: #222;
  color: #fff;
}

.header .container {
  padding: 12rem 2rem 3rem;
}

.header .logo-text {
  text-decoration: none;
  font-weight: bold;
  color: #ec9b33;
}

.header .subtext {
  font-weight: normal;
  margin: .5rem 0 1rem;
  font-size: 1rem;
}

.header .logo-text,
.header .subtext {
  letter-spacing: 2px;
}

@media screen and (min-width: 85rem) {
  .header .container {
    padding-left: 0;
  }

  .header .subtext {
    font-size: 1.5rem;
  }
}
