.header {
  color: #fff;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}

.header:before {
  content: ' ';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(25, 25, 25, .70);
}

.header .container {
  padding: 9rem 2rem 3rem;
  position: relative;
}

.header > *,
.header + * {
  z-index: 2;
  position: relative;
}

.header .logo-text {
  text-decoration: none;
  font-weight: bold;
  color: #ec9b33;
}

.header .subtext {
  font-weight: normal;
  margin: .5rem 0 1rem;
  font-size: 1rem;
}

.header .logo-text,
.header .subtext {
  letter-spacing: 2px;
}

@media screen and (min-width: 84rem) {
  .header .container {
    padding-left: 0;
    padding-top: 16rem;
  }

  .header .subtext {
    font-size: 1.5rem;
  }
}
