.header {
  color: #fff;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}

.header:before {
  content: ' ';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-image: linear-gradient(rgba(0, 0, 0, .1), rgba(0, 0, 0, 1) 80%);
}

.header .container {
  padding: 9rem 2rem 3rem;
  position: relative;
  display: table;
  width: 100%;
}

.header-content,
.back-link {
  display: table-cell;
  vertical-align: middle;
}

.header > *,
.header + * {
  z-index: 2;
  position: relative;
}

.header .back-link {
  color: #ec9b33;
  font-size: 2rem;
}

.header .logo-text {
  text-decoration: none;
  font-weight: bold;
  color: #ec9b33;
}

.header .subtext {
  font-weight: normal;
  margin: .5rem 0 1rem;
  font-size: 1rem;
}

.header .logo-text,
.header .subtext {
  letter-spacing: 2px;
}

@media screen and (min-width: 84rem) {
  .header .container {
    padding-left: 0;
    padding-top: 20rem;
  }

  .header .subtext {
    font-size: 1.5rem;
  }
  
  .header:before {
    background-image: linear-gradient(rgba(0, 0, 0, .1), rgba(0, 0, 0, .7) 90%);
  }
}
