.App {
  background: #e5e6f4;
  overflow: auto;
}

.content,
.container {
  max-width: 80rem;
  margin: auto;
  padding: 2rem;
}

.content {
  background: #fff;
  margin-top: -2rem;
}

.logo-text,
.title {
  text-transform: uppercase;
  font-size: 14px;
}

.title {
  letter-spacing: 1px;
  padding-bottom: .75rem;
  margin: 0 0 1rem;
  position: relative;
  font-weight: bold;
}

.title:after {
  content: "";
  position: absolute;
  background: #ec9b33;
  bottom: 0;
  left: 0;
  height: .3rem;
  width: 2rem;
}

@media screen and (min-width: 85rem) {
  .content {
    margin-bottom: 6rem;
  }
}
