.App {
  background: #e5e6f4;
  overflow: auto;
}

.content,
.container {
  max-width: 80rem;
  margin: auto;
  padding: 2rem;
}

.content {
  background: #fff;
  margin-top: -2rem;
}

.logo-text,
.title {
  text-transform: uppercase;
  font-size: 14px;
}

.title {
  letter-spacing: 1px;
  border-bottom: 5px solid #ec9b33;
  padding-bottom: .5rem;
  margin: 0 0 1rem;
}

@media screen and (min-width: 85rem) {
  .content {
    margin-bottom: 6rem;
  }
}
