.App {
  overflow: auto;
}

.content,
.container {
  max-width: 84rem;
  margin: auto;
  padding: 2rem;
}

.content {
  background: #fff;
  margin-top: -2rem;
}

.subtitle,
.logo-text,
.title {
  text-transform: uppercase;
  font-size: 14px;
}

.title {
  letter-spacing: 1px;
  padding-bottom: .75rem;
  margin: 0 0 1rem;
  position: relative;
  font-weight: bold;
}

.title:after {
  content: "";
  position: absolute;
  background: #ec9b33;
  bottom: 0;
  left: 0;
  height: .3rem;
  width: 2rem;
}

.subtitle {
  color: #a4a4a4;
  letter-spacing: 1px;
}

.floatWrapper > * {
  padding-bottom: 2rem;
}

.floatWrapper:before,
.floatWrapper:after {
  content: " ";
  display: table;
}

.floatWrapper:after {
  clear: both;
}

.full,
.half {
  padding-bottom: 3rem;
}

.full {
  width: 100%;
}

@media screen and (min-width: 60em) {
  .full,
  .half {
    float: left;
  }

  .half:nth-child(odd) {
    padding-right: 2rem;
  }

  .half {
    width: 50%;
  }
}

